RESEND_SUBJECT="Can I help you get more customers?"

RESEND_MESSAGE="Hi, {toName}!\n\nI hope you're doing well. I'm {fromName}, and I help businesses like yours get more customers.\n\nI'd love to learn more about your business and see if I can help you grow.\n\nDo you have time for a quick chat this week?\n\nKind regards,\n{fromFirstName}"


# WEBSITE INFO:

BASE_URL="https://resend-cold-emailer.netlify.app"

WEBSITE_NAME="Resend Cold Emailer"

WEBSITE_DESCRIPTION="A simple client for sending emails through the Resend.com API"

GUMROAD_VERIFY_URL="https://api.gumroad.com/v2/licenses/verify"